*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 1.5rem;
  line-height: 1.5;
  background: #111;
  color: #fff;
  min-height: 100vh;
  display: flex;
}

h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: inherit;
  line-height: 1.1;
  font-size: 3.375rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.container {
  width: 100%;
  max-width: 960px;
  padding: 0 1rem;
  margin: 0 auto;
  flex: 1;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 1rem;
}

footer {
  text-align: center;
  padding-bottom: 1rem;
}

small {
  font-size: 1rem;
  font-weight: inherit;
  line-height: inherit;
}

a {
  color: #00aba9;
}

[hidden] {
  display: none;
}

.new-window-icon {
  fill: #00aba9;
  height: 0.75rem;
  margin-inline-start: 0.3em;
  margin-inline-end: 0.3em;
  vertical-align: middle;
  width: 0.75rem;
}
